<div id="header" class="header">
  <div class="text-vcenter">
    <h1 style="color: white; text-shadow: 4px 4px 4px rgba(150, 150, 150, 0.54);">Let's Stop Food Insecurity</h1>
  </div>
</div>

<!-- second section - About -->
<div id="about" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2><strong>The Pillars of Food Insecurity</strong></h2>
        <p class="lead" style="width: 80%; margin: 0 auto">Food insecurity is a complex topic however it can be broken down into four portions.</p>
      </div>
      <div class="row text-center" style="width: 80%; margin: 0 auto;">
        <div class="col-sm-3">
          <p class="pillar">I</p>
          <h2>Availability</h2>
        </div>
        <div class="col-sm-3">
          <p class="pillar">I</p>
          <h2>Accessibility</h2>
        </div>
        <div class="col-sm-3">
          <p class="pillar">I</p>
          <h2>Utilization</h2>
        </div>
        <div class="col-sm-3">
          <p class="pillar">I</p>
          <h2>Stability</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /second section -->

<!-- second section - About -->
<div id="about" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3><strong>The Aided Fork Account</strong></h3>
        <p class="lead" style="width: 80%; margin: 0 auto">Today in Canada, over 15% of the population is food insecure. This means that they do not have access to healthy foods due to financial reasons or accessibility reasons. The default Fork account already solves the access issue, however we wanted to take it one step further and implement the Aided Fork account. Here you gain an extra 30% discount off any food listing. Applying for an Aided Fork account is easy? Simply send in proof that you are on Welfare and wait for the Aided Fork permissions!</p>
        <br>
        <a href="/users/sign_up" class="btn btn-land btn-lg" style="width: 250px;">Apply Now <i class="fa fa-arrow-right"></i></a>
      </div>
    </div>
  </div>
</div>
<!-- /second section -->
<br>
