  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center text-lighten-2" style="color: #7cb342;">Farms2Forks</h1>
        <div class="row center">
          <h5 class="header col s12 light" style="color: white;">Recieve local, fresh, and organic food without hassle.</h5>
        </div>
        <div class="row center">
          <a href="/users/sign_up" id="download-button" class="btn-large waves-effect waves-light light-green darken-1 lighten-1">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="https://unsplash.com/photos/xDrxJCdedcI/download" alt="" style="width:50%;"/></div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center" style="color: #5e35b1;"><i class="material-icons">flash_on</i></h2>
            <h5 class="center" style="color: #7cb342;">Access Fresh Food</h5>

            <p class="light">Purchase your fresh and local food from the source, not the store. Through Farms2Forks, you can easily get amazing food without having to travel directly to the farm, instead we bring it to you.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center" style="color: #5e35b1;"><i class="material-icons">group</i></h2>
            <h5 class="center" style="color: #7cb342;">Support Food Insecurity</h5>

            <p class="light">In Canada, over 15% of the population is food insecure. This means that families do not have access to healthy, accessable, and affordable food. Through our platform you can anonomousy apply to gain special discounts from the food.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center" style="color: #5e35b1;"><i class="material-icons">settings</i></h2>
            <h5 class="center" style="color: #7cb342;">Get Noticed</h5>

            <p class="light">As a farmer, it may be hard to market your self and your produce to other people, and it also may be difficult to provide the CSA. With Farms2Forks, you can easily market your farm, and drop off your produce for customers at our distribution centers.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light white-text">A modern and effiencet platform that enables you to access fresh food without a sweat.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="https://unsplash.com/photos/YLyxXawZm4w/download" alt="" style="width:50%;"/></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>What is Food Insecurity?</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light white-text" style="text-align: center;">Help support families living in food insecurity.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="https://unsplash.com/photos/UOEB1ztsDMo/download" alt="" style="width:50%;"/></div>
  </div>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/app/assets/javascripts/init.js"></script>
