@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import 'materialize';
@import "materialize/extras/nouislider";

* {
  font-family: 'Varela Round', sans-serif;
}

#notice-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 999;
  opacity: 0.9;
  background: #8CD790;
  p {
    padding: 2.5rem 0;
    text-align: center;
    margin: 0;
    font-size: 1.25rem;
    color: #ffffff;
  }
}
