//@import url(https://fonts.googleapis.com/css?family=Varela+Round);
//@import 'materialize';
//@import "materialize/extras/nouislider";
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300i,400,400i,600,600i,700,700i';
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

* {
  font-family: 'Source Sans Pro', sans-serif;
}

.img-circle-aa {
  border-radius: 50%;
  width: 50%;
}

#notice-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 999;
  opacity: 0.9;
  background: #8CD790;
  p {
    padding: 2.5rem 0;
    text-align: center;
    margin: 0;
    font-size: 1.25rem;
    color: #ffffff;
  }
}

.heading {
  text-align: center;
}

.show_img {
  border-radius: 5px;
}

.prof-img {
  width: 30px;
  border-radius: 50%;
}

.textareabytes {
  width: 100%;
}

#footer {
  text-align: center;
  opacity: 0.4;
  background-color: grey;
}

#nav-img {
  width: 25px;
}

.navbar {
  font-size: 16px;
}


.prof-food {
  border-radius: 50%;
  width: 50px;
}


.list-td {
  line-height: 50px;
}
.prof-des-img {
  border-radius: 5px;
}

strong {
    font-weight: 700;
}

.lead,
.panel-heading {
    font-size: 16px;
    font-weight: 400;
}

/* Colorgraph styles */

.colorgraph {
  height: 5px;
  border-top: 0;
  background: #7e57c2;
  border-radius: 5px;

}

.colorgraph-header {
    position: absolute;
    top: 0;
    margin: 0;
    width: 100%;
    height: 3px;
    z-index: 100;
}

/* Page styles */

body {
    padding-top: 70px;
    background: url('http://www.stripegenerator.com/generators/generate_stripes.php?fore=f8f8f8&h=30&w=20&p=20&back1=fcfcfcfdfd&back2=dddddd&gt=0&d=0&shadow=0') repeat;
    background-attachment: fixed;
}

.profile-panel, .academic-panel, .achievements-panel, .projects-panel {

}

.user-image {
    border: 8px solid #eee;
}

.user-info-box {
    padding-left: 30px;
}


/* Carousel */

.sidebar-slider.carousel .carousel-indicators {
    bottom: 0;
    margin-bottom: 0;
}

.sidebar-slider.carousel .item {
    padding-bottom: 20px;
}

.sidebar-slider.carousel .carousel-indicators > li {
    background-color: #bbb;
    border: none;
}

.sidebar-slider.carousel .carousel-indicators > li.active {
    background-color: #666;
}

/* Media queries */

@media (max-width:480px) {
    .btn-edit {
        margin-top: 8px;
    }
    
    .user-info-box {
        padding-left: 15px;
    }
}