//@import url(https://fonts.googleapis.com/css?family=Varela+Round);
//@import 'materialize';
//@import "materialize/extras/nouislider";
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300i,400,400i,600,600i,700,700i';
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

* {
  font-family: 'Source Sans Pro', sans-serif;
}

// COLOR a886bd

.img-circle-aa {
  border-radius: 50%;
  width: 50%;
}

#notice-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 77px;
  z-index: 100000;
  opacity: 0.9;
  background: #8CD790;
  p {
    padding: 25px;
    text-align: center;
    margin: 0;
    font-size: 2rem;
    color: #ffffff;
  }
}

.heading {
  text-align: center;
}

.show_img {
  border-radius: 5px;
}

.prof-img {
  width: 30px;
  border-radius: 50%;
}

.textareabytes {
  width: 100%;
}

#nav-img {
  width: 25px;
}

.navbar {
  font-size: 16px;
}


.prof-food {
  border-radius: 50%;
  width: 50px;
}


.list-td {
  line-height: 50px;
}
.prof-des-img {
  border-radius: 5px;
}

strong {
    font-weight: 700;
}

.lead,
.panel-heading {
    font-size: 18px;
    font-weight: 400;
}

/* Colorgraph styles */

.colorgraph {
  height: 5px;
  border-top: 0;
  background: #a886bd;
  border-radius: 5px;

}

.colorgraph-header {
    position: absolute;
    top: 0;
    margin: 0;
    width: 100%;
    height: 3px;
    z-index: 100;
}

/* Page styles */

.land-body {
  background-color: #fff;
}

#main-body {
    //background: url('http://www.stripegenerator.com/generators/generate_stripes.php?fore=f8f8f8&h=30&w=20&p=20&back1=fcfcfcfdfd&back2=dddddd&gt=0&d=0&shadow=0') repeat;
    background-color: #f4f4f4;
    //background-attachment: fixed;
}

.profile-panel, .academic-panel, .achievements-panel, .projects-panel {

}

.user-image {
    border: 8px solid #eee;
}

.user-info-box {
    padding-left: 30px;
}


/* Carousel */

.sidebar-slider.carousel .carousel-indicators {
    bottom: 0;
    margin-bottom: 0;
}

.sidebar-slider.carousel .item {
    padding-bottom: 20px;
}

.sidebar-slider.carousel .carousel-indicators > li {
    background-color: #bbb;
    border: none;
}

.sidebar-slider.carousel .carousel-indicators > li.active {
    background-color: #666;
}

/* Media queries */

@media (max-width:480px) {
    .btn-edit {
        margin-top: 8px;
    }

    .user-info-box {
        padding-left: 15px;
    }
}

// Forms
.main{
  margin-top: 70px;
}

.form-group{
  margin-bottom: 15px;
}

label{
  margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login {
  background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
  margin-top: 30px;
  margin: 0 auto;
  max-width: 330px;
    padding: 40px 40px;

}

.login-button{
  margin-top: 5px;
}

.login-register{
  font-size: 11px;
  text-align: center;
}


/* general styles */
html, body {
  height: 100%;
  width: 100%;
}

/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

/* additional sections */
#home {
  background: url('https://hd.unsplash.com/17/unsplash_527bf5fd7f5f6_1.JPG') no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#header {
  background: url('https://hd.unsplash.com/photo-1432416623818-8bb2b6090320') no-repeat center center fixed;
  display: table;
  height: 50%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about {
}

#services {
  background-color: #a886bd;
  color: #ffffff;
}
#services .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

#information {
  background: url('https://hd.unsplash.com/9/fields.jpg') no-repeat center center fixed;
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#information .panel {
  opacity: 0.85;
}

#google_map {
  height: 500px;
}

footer {
  padding: 20px 0;
}
footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}

.btn-primary {
  background-color: #8CD790;
  border-color: #8CD790;
  -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}

.btn-land {
  color: white;
  background-color: #a886bd;
  border-color: #a886bd;
  -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}

.btn-primary:hover {
  cursor: pointer;
  background-color: #800080;
  border-color: #800080;
}

.btn-land:hover {
  background-color: #800080;
  border-color: #800080;
  cursor: pointer;
  color: white;
}

.img-row {
    margin: 80px 0px 80px 0px;
    }

.img-mag {
    width: 250px;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    }

.img-mag:hover {
  cursor: pointer;
  -webkit-transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    transform: scale(2, 2);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    box-shadow: 10px 10px 5px rgba(0,0,0,0.25);
    z-index: 1;
    }

.process {
  color: #a886bd;
  font-size: 64px;
}

.col-centered {
}

.arw {
  color: #a886bd;
  font-size: 64px;
}

#signup {
  border-color: #a886bd;
  color: #a886bd;
  border-weight: 5px;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}

#signup:hover {
  background-color: #a886bd;
  border-color: #a886bd;
  color: white;
  -webkit-transform: background-color(#a886bd);
  -ms-transform: background-color(#a886bd);
  transform: background-color(#a886bd);
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}


.pillar {
  font-family: serif;
  font-weight: 900;
  font-size: 250px;
  color: #a886bd;
  margin-bottom: -85px;
}
